
body{
  position: relative;
  margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 1000px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom: #111 1px solid;
  }
  
  li {
    float: left;
  }
  #p-1{
    transition: 3s ease-in-out;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    margin-inline: 80px;
  }
  .flex-p{
    min-width: 40%;
    min-height: 35vw;
    padding: 20px;
    
  }
  .flex-t{
    min-width: 52%;
    min-height: 35vw;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 40px;
  }
  .img-general img{
    width: 95%;
    height: calc(200px +5vw);
    overflow: hidden;
    border-radius: 10px;
  }
  .navimg img {
    width: 20%;
    margin-left: 10px;
    border-radius: 10px;
  }
  #DivProduct{
    position: relative;
    width: 500px;
    height: 550px;
  }

  #DivProductR{
    position: relative;
    width: 500px;
    height: 552px;
    bottom: 100px;
  }

  #BtnAdd{
    border: 0px solid #e19552 ;
    color: white;
    opacity: 80%;
    font-size: medium;
    background-color:#ffa657;
    border-radius: 8px;
    position: relative;
    top: 40%;
    left: 165px;
    width: 225px;
    height: 50px;
    box-shadow: 0 10px 20px 0 #ffb26f;
  }
  .part1{
    height: 80%;
    overflow: hidden;
  }
  .part1 h4 {
    margin-top: 0px;
    margin-bottom: 5px;
  }  
  .part1 h1 {
    margin: 0px;
    margin-bottom: 10px;
  }  
  .part1 .main-text {
    font-size: 14px;
    opacity: 0.85;
    line-height: 25px;
  }  
  .part1 p {
    display: inline-block;
    margin-top: 10px;
    margin: 0;
  }  
.r-price{
  font-size: 35px;
  margin-right: 15px;
}
.off{
  background-color: #FFEFE2;
  color: #ee720c;
  font-size: 15px;
  padding: 3px;

}
.p-price{
  opacity: 0.86;
  font-size: 18px;
}
.part2{
  height: 17%;
  padding: 12px;
  box-sizing: border-box;
  padding-left: 0;
  display: flex;
}
.pt2-1{
  width: 35%;
height: 100%;
background-color: #eee9e5;
border-radius: 8px;
max-height: 70px;
transition: .3s ease-in-out;
font-size: 17px;
}
.pt2-2{
  width: 60%;
height: 100%;
float: right;
position: relative;
border-radius:8px;
  max-height: 70px;
  margin-left: 10px;
}
.pt2-2 button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ee720c;
  border-radius: 8px;
}
button img{
 color: white;
}
#test{
  display: inline;
  margin: 8%;
}
.cart{
  transition: 0.4s ease-in-out;
}

.minus ,.plus{
  border: none;
  position: relative;
  margin-top: 12%;
  background-color: transparent;
}
.cart:hover{
  background-color: #efb684;
  
}
.pt2-1:hover{
  background-color: #dfd4cc;
}

.minus{
  margin-left: 5px;
}
@media  screen and (min-width:950px) {
  #test{
    margin: 20%;
  }
  .minus{
    margin-left: 3%;
  }
}
 .modal{
 display: none;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  position: absolute;
}
.modal button {
  margin: 20px;
  background-color: white;
  border: none;
  padding: 12px;
}
#cart-box{
  background-color: #ffffff;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  box-shadow: 0px 2px 5px 5px rgba(141,138,138,0.75);
-webkit-box-shadow: 0px 2px 5px 5px rgba(141,138,138,0.75);
-moz-box-shadow: 0px 2px 5px 5px rgba(141,138,138,0.75);
position: absolute;
right: 8%;
top: 5% ;
}
#imgtum{
  max-width:50px;
  margin: 5px;
}
#cart-2{
  width: 90%;
  height: 55px;
  margin-left: 10px;
  border-radius: 8px;
  border: none;
  background-color: #ee720c;
  color: white;
  font-size: 16px;
  display: none;
}
.n-2{
  display: flex;
  align-items: center;
  min-height: 70px;
  max-height: 75px;
}
#buysome{
  margin: 5px;
  min-width: 60px;
  text-align: center;
}
#Tprice{
  min-width: 60px;
}
ul button{
  float: left;
  margin: 10px;
  border: none;
  background-color: transparent;
  display: none;
}
#background{
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
}
#mobile-menu{
  width: 50%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.button-m img{
 float: left;
 margin: 20px;
}
.button-m {
  background-color: transparent;
  border: none;
}
#trash{
  float: right;
  height: 20px;
  width: 40px;
}
#mobile-menu div {
  margin: 15px;
  font-size: 19px;
  }
  @media screen and (max-width : 750px){
    .li-d{
      display: none;
    }
    .button-m2{
      display: block;
    }
    .flex{
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
    .flex-p{
      margin: 0;
      padding: 0;
    }
    ul{
      margin-bottom: 0;
    }
    #p-O{
      min-width: 100%;
      border-radius: 0;
    }
    .part1 .main-text{
      font-size: 19PX;
    }
    del {
      float: right;
      position: relative;
      bottom: 20px;
    }
    .part2{
      flex-direction: column;
      padding-inline: 20px;
      box-sizing: border-box;
      text-align: center;
    }
    .pt2-1{
      box-sizing: border-box;
      padding-inline: 15px;
      max-height: 50px;
      text-align: center;
    }
    .part2 div {
      min-width: 100%;
    }
    .minus{
      float: left;
      margin: 20px;
    }
    .plus{
      float: right;
      margin: 20px;
    }
   .cart{
    color: white;
    padding: 12px;
    margin-top: 10px;
    font-size: 20px;
    text-align: start;
    padding-left: 90px;
   }
   .cart img {
    margin-left: 110px;
  margin-right: 10px;
   }
   .pt2-2{
    margin-left: 0;
   }
   #test{
    margin-top: 10px;
   }
    }
  